@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: "Miama";
    src: url("../assets/fonts/Miama.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}

/* CSS Variable */
:root{
    --primary-color: #E6533C;
    --p-color: rgba(255,255,255,50%);
    --bg-color: #222222;
}

body{
    background-color: black;
}


/* Default Style */
.section-padding{
    padding: 20px;
}

.btn-primary{
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    border-radius: 42px;
}

.btn-secondary{
    background-color: transparent;
    padding: 8px 20px;
    border: 1.5px solid white;
    color: white;
    font-weight: 500;
    border-radius: 42px;
    margin-left: 10px;
}

h2{
    color: white;
    font-size: 2rem;
}

p{
    color: var(--p-color);
    line-height: 1.6;
    font-size: .8rem;
    margin: 20px 0;
}


.header{
    background: linear-gradient(rgba(255, 255, 255, 10%), rgba(255, 255, 255, 16%), rgba(255, 255, 255, 10%));
}

/* 
--------------------------------- Navbar Section ------------------------------
*/
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.menu{
    display: flex;
    border-radius: 46px;
    border: 1px solid rgba(255, 255, 255, 10%);
}

.menu-icon{
    color: white;
    font-size: 1.2rem;
    display: none ;
}

.brand{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    font-style: italic;
}

.menu-item{
    margin: 12px 15px 12px 7px;
}

.menu-link{
    padding: 7px 15px;
    color: white;
}

.home-link{
    background-color: var(--primary-color);
    border-radius: 46px;
}



/* 
---------------------------------------------- Hero Section --------------------------------
*/
.hero-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1{
    font-weight: bolder;
    font-size: 4.6rem;
    position: relative;
    color: white;
}

.hero-content .span-h1{
    font-family: "Miama";
    font-weight: lighter;
    font-size: 9.5rem;
    line-height: .3;
}

.hero-content p{
    font-size: .9rem;
}

.hero-img{
    width: 50%;
    height: 580px;
    background-image: url("../assets/images/Images\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-img .card-1,
.hero-img .card-2{
    width: max-content;
    background: rgba(255, 255, 255, 0.111);
    border-radius: 6px;
    backdrop-filter: blur(5px);
    padding: 8px 10px;
    color: white;
}

.card-1 small,
.card-2 small{
    font-size: .6rem;
    color: rgba(255, 255, 255, 65%);
}

.card-1{
    position: absolute;
    top: 25%;
    right: 20%;
}

.card-2{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    left: 8%;
}

.card-2 i{
    font-size: 25px;
    color: var(--primary-color);
    transform: scale(1.1);
}

.play-icon{
    background-color: white;
    border-radius: 50%;
}




/* -------------------------------------- Change Your Habits Section ----------------------------- */
.habits-section{
    max-width: 1200px;
    margin: 100px auto 20px;
    text-align: center;
}

.habits-content{
    margin: 0 auto;
    max-width: 580px;
}


.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.habits-container h4{
    color: white;
    margin: 20px 0 -10px;
}

.habits-item{
    padding: 20px;
}

.habits-item img{
    width: 100%;
    border-radius: 50%;
}







/* --------------------------------------- Banner Section --------------------------------------- */
.banner-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 20px 20px 20px 30px;
}

.banner-content,
.banner-img{
    width: 50%;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.banner-img div{
    height: 250px;
}

.banner-img div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

